/*
**File name : style.css
**Date Created : 6th October 2017
**Author : Pavitra Behre(me@pbehre.in)
*/
.navbar {
    color:#fff;
    position:absolute;
    z-index:15; 
    background: rgba(0,0,0,0.85);
    padding-bottom: 1px;
  }
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-caption
{
    position: absolute;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}
.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:25%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 85%;
    text-align: center;
  }
  .hidden1, .hidden2, .hidden3 {
      display: none;
  }
  img.clanits {
      width: 40%;
  }
img.foxogyan {
    width: 65%;
}
input[type="text"].form-control, textarea.form-control {
    color: rgb(255, 255, 255);
    background-color:transparent !important;
    border-bottom: 1px solid black;
    box-shadow: 0 4px 6px -5px hsl(0, 0%, 40%), inset 0px 4px 6px -5px black;
  }
  form button.form-control {
      color: rgb(255, 255, 255);
      background-color: rgba(226, 74, 213, 0.43) !important;
  }
.form-group {
    padding-left: 20%;
    padding-right: 20%;
  }
