/*
**File name : style.css
**Date Created : 6th October 2017
**Author : Pavitra Behre(me@pbehre.in)
*/
.navbar, .modal {
    color:#fff;
    position:absolute;
    z-index:15; 
    background: rgba(0,0,0,0.6);
  }
.carousel-item {
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel-caption
{
    position: absolute;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.4);
}
.overlay { 
    color:#fff;
    position:absolute;
    z-index:12;
    top:27%;
    left: 10%;
    right: 10%;
    width: 80%;
    height: 85%;
    text-align: center;
  }
  .hidden1, .hidden2, .hidden3 {
      display: none;
  }
